/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ********************************

COMMON

******************* */

body {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2vw;
    padding: 1.25rem;
}

#show-results {
    display: flex;
    justify-content: center;
    gap: 0.5vw;
}

span {
    text-align: center;
    font-size: 5vw;
    background-color: white;
    border-radius: 1.25rem;
    padding: 20px;
}